.section-nav-top {
    position: fixed;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
}

.section-nav-top__flex-wrapper {
    flex-grow: 5;
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

.section-nav-top__item {
    flex-grow: 1;
    background-color: rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    padding: 5px 0;
    text-decoration: none;
}

.section-nav-top__link {
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding: 5px;
    height: 28px;
    color: #2d3436;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (min-width: 768px) {
    .section-nav-top__item:first-child {
        padding-left: 5px;
    }
    .section-nav-top__item:last-child {
        padding-right: 5px;
    }
}

.section-nav-top__link:hover {
    background-color: rgba(0,0,0,0.3);
}

@media only screen and (max-width: 768px) {
    .section-nav-top__flex-wrapper {
        flex-direction: column;
    }
    
    .section-nav-top__item {
        padding: 0 5px;
    }
    .section-nav-top__item:first-child {
        padding-top: 5px;
    }
    .section-nav-top__item:last-child {
        padding-bottom: 5px;
    }
}