.section-nav-top__title {
    display: flex;
    justify-content: center;
    background-color: #2d67c4;
    font-size: 24px;
    font-weight: bold;
    padding: 5px;
    height: 28px;
    color: #2d3436;
    border-bottom: 1px dashed #751b1b;
}